<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LoginUrl" value="https://jira.csc.com/rest/auth/latest/session"/>
    <add key="SprintsUrl" value="https://jira.csc.com/rest/agile/latest/board/{0}/sprint"/>
    <add key="StoriesUrl" value="https://jira.csc.com/rest/greenhopper/latest/rapid/charts/sprintreport?rapidViewId={0}&amp;sprintId={1}"/>
    <add key ="IssueViewUrl" value="https://jira.csc.com/browse/{0}"/>
    <add key="BurndownChartUrl" value="https://jira.csc.com/secure/RapidBoard.jspa?rapidView={0}&amp;view=reporting&amp;chart=burndownChart&amp;sprint={1}"/>
    <add key="BasicInfo" value="./basicinfo.json"/>
    <add key="TemplateFile" value="./template.docx"/>
  </appSettings>
</configuration>